---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 8
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 80
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
IndentCaseLabels: true
SortIncludes: false
SpacesInParentheses: false
Cpp11BracedListStyle: false
ReflowComments: false
AllowShortFunctionsOnASingleLine: None
FixNamespaceComments: true
