[submodule "external/pokeyslib"]
path = external/pokeyslib
url = https://bitbucket.org/mbosnak/pokeyslib.git
branch = master
[submodule "wiki"]
	path = wiki
	url = https://github.com/zarfld/LinuxCnc_PokeysLibComp.wiki.git
[submodule "external/linuxcnc-hal-canon"]
	path = external/linuxcnc-hal-canon
	url = https://github.com/zarfld/linuxcnc-hal-canon
[submodule "external/pokeysHal"]
	path = external/pokeysHal
	url = https://github.com/zarfld/pokeysHal
